{% extends 'gallery/base.html' %}

{% block content %}
    {% include 'gallery/navbar.html' %}

<ul class="cd-hero-slider">

                <!-- Page 1 Gallery One -->
                <li class="selected">
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content" data-page-no="1" data-page-type="gallery">
                            <div class="tm-img-gallery-container">
                                <div class="tm-img-gallery gallery-one">
                                <!-- Gallery One pop up connected with JS code below -->
                                    <div class="grid-item">
                                        <figure class="effect-sadie">
                                            <img src="gallery/img/tm-img-01-tn.jpg" alt="Image" class="img-fluid tm-img">
                                            <figcaption>
                                                <h2 class="tm-figure-title">Image <span><strong>One</strong></span></h2>
                                                <p class="tm-figure-description">Set true or false in HTML script tag for this page black and white.</p>
                                                <a href="gallery/img/tm-img-01.jpg">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
</ul>

{% endblock %}