{% extends 'gallery/base.html' %}

{% block content %}
<section class="ftco-section bg-light ftco-bread">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center">
  <div class="col-md-9 ftco-animate">
    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Gallery</span></p>
    <h1 class="mb-3 bread">Galleries</h1>
    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
  </div>
        </div>
    </div>
</section>

<section class="ftco-section-2">
    <div class="photograhy">
        <div class="row no-gutters">
            {% if gallery_list %}
                {% for list in gallery_list %}
            <div class="col-md-4 ftco-animate">
                <a href="{{ list.photo_main.url }}" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url({{ list.photo_main.url }});">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 01</h3>
                        <span class="tag">Model</span>
                    </div>
                </a>
            </div>
                {% endfor %}
            {% endif %}


        </div>
    </div>
</section>



{% endblock %}