{% extends 'gallery/base.html' %}

{% block content %}
    {% include 'gallery/navbar.html' %}

<ul class="cd-hero-slider">

                <!-- Page 1 Gallery One -->
                <li class="selected">
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content" data-page-no="1" data-page-type="gallery">
                            <div class="tm-img-gallery-container">
                                <div class="tm-img-gallery gallery-one">

                                <!-- Gallery One pop up connected with JS code below -->
                                    {% if gallery_list %}
                                        {% for listing in gallery_list %}
                                    <div class="grid-item">
                                        <figure class="effect-sadie">
                                            <img src="{{ listing.photo_main.url }}" alt="Image" class="img-fluid tm-img">
                                            <figcaption>
                                                <h2 class="tm-figure-title">{{ listing.event_name }}</h2>
                                                <p class="tm-figure-description">{{ listing.description }}</p>
                                                <a href="{{ listing.photo1.url }}">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
</ul>

{% endblock %}